<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="milcomm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <milcomm.Properties.Settings>
            <setting name="ReportFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="AdminMode" serializeAs="String">
                <value>16482258-4452-4167-ab4e-ede6cb499c89</value>
            </setting>
            <setting name="UartLogging" serializeAs="String">
                <value>True</value>
            </setting>
        </milcomm.Properties.Settings>
    </userSettings>
</configuration>
